// 定義等
@charset"UTF-8";
$btnColor:hsl(0,70,67);
$btnHoverColor:hsl(0,55,60);
$orange:hsl(43,80,60);
$blue:hsl(205,75,40);
$skin:hsl(40,80,93);
$gray:rgb(235,235,235);
$tab:1190px;
$sp:768px;
@mixin tab{
  @media(max-width:($tab)){
    @content;
  }
}
@mixin sp{
  @media(max-width:($sp)){
  @content;
  }
}

// 共通
body{
  font-size: 100%;
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  letter-spacing:0.1rem;
  @include tab{
    letter-spacing:normal;
  }
}
h1{
  margin: 0;
  font-size: 1.75rem;
  font-weight: 900;
  text-align: center;
  letter-spacing: 2px;
  @include tab{
    font-size: 1.5rem;
  }
  @include sp{
    font-size: 1.1rem;
  }
}
h2{
  margin: 0;
  font-size: 1.25rem;
  font-weight: 900;
  text-align: center;
}
h3,.quest{
  font-size: 1.25rem;
  font-weight: 900;
  text-align: center;
  @include tab{
    font-size: 1rem;
    letter-spacing: 1.5px;
  }
  @include sp{
    letter-spacing: 1px;
    font-size: 0.95rem;
  }
}
h4,.ans{
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 900;
  @include tab{
    font-size: 0.875rem;
  }
  @include sp{
    font-size: 0.75rem;
  }
}  
p{
  margin: 0;
}
a{
  text-decoration: none;
  color:white;
  &:hover{
    color:white;
  }
}
ul{
  margin: 0;
  padding: 0;
  li{
    list-style: none;
    margin: 0;
    padding: 0;
  }
}
img{
  vertical-align: bottom;
}
.bgi{
  object-fit: cover;
  object-position: center;
  width: 100vw;
}
.wrapper{
  max-width:1170px;
  width: 100%;
  margin: 0 auto;
  // outline: 2px solid red;
}
// カギカッコつきタイトル
.keyd-title{
  max-width: 860px;
  width: 100%;
  height: 100px;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  @include sp{
    height: 120px;
  }
  &::before{
    content:'';
    position: absolute;
    top:0;
    left:0;
    height: 50px;
    width: 50px;
    border-left:4px solid $orange;
    border-top:4px solid $orange;
    @include sp{
      height: 30px;
      width: 30px;
    }
  }
  &::after{
    content:'';
    position: absolute;
    bottom:0;
    right:0;
    height: 50px;
    width: 50px;
    border-right:4px solid $orange;
    border-bottom:4px solid $orange;
    @include sp{
      height: 30px;
      width: 30px;
    }     
  }
}
// p class 細く大きめの字
.big-share{
  font-family: 'Klee One', cursive;
  text-align: center;
  font-weight:100;
  font-size: 1.25rem;
  padding-bottom: 24px;
  @include tab{
    font-size: 1rem;
    letter-spacing: 1px;
  }
  @include sp{
    font-size: 0.9rem;
    line-height: 1.75;
  }
}
// アコーディオンの矢印ボタン
.arrow{
  display: block;
  height: 10px;
  width: 10px;
  border-left: 4px solid black;
  border-bottom: 4px solid black;
  transform:rotate(-45deg);
}
// ツイート、いいね、シェア
.link{
  display: block;
  margin: 0 auto;
  width: 238px;
  padding-bottom: 47px;
  text-align: center;
  @include sp{
    padding-bottom: 33px;
  }
  a{
    color:white;
    font-size: 0.7rem;
    padding: 2px 8px;
  }
  a:first-of-type{
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius:0.7rem;
    border-top-right-radius: 5px;
    border-bottom-right-radius:5px;
  }
  a + a{
    border-radius: 5px;
  }
}

// ヘッダー 全て手書き 
header{
  display: flex;
  align-items: center;
  height: 75px;
  width: 100vw;
  background: white;
  position:fixed;
  z-index:10;
  @include sp{
    height: 62px;
  }
  .wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    max-width: 1190px;
    @include sp{
      padding: 0 0 0 10px;
      height: 100%;
    }
    .header-left{
      display: flex;
      @include sp{
        flex-direction: column-reverse;
      }
      img{
        width: 128px;
        height: 44px;
        margin-right: 6px;
        @include sp{
          width: 90px;
          height: 32px;
        }
      }
      p{
        font-weight: 600;
        font-size: 0.875rem;
        align-self: end;
        @include tab{
          font-size: 0.75rem;
          // color:blue;
        }
        @include sp{
          font-size: 0.625rem;
          // color:green;
        }
      }
    }
    .header-right{
      font-family: 'Klee One', cursive;
      background: $btnColor;
      height: 41px;
      border-radius: 41px;
      @include sp{
        display: none;
      }
      &:hover{
        background: $btnHoverColor;
      }
      a{
        line-height: 41px;
        padding: 11px 40px;
        font-size: 0.875rem;
        font-weight: 100;
        @include tab{
          font-size: 0.75rem;
        }
      }
    }
    .header-right-sp{
      background: $btnColor;
      display: none;
      @include sp{
        display: block;
        height: 100%;
        width: 76px;
      }
      a{
        display: block;
        color:white;
        text-align: center;
        .bi-file-text{
          display: block;
          margin-top: 9px;
          font-size: 1.75rem;
          line-height: 1.2;
        }
        p{
          font-size: 0.8rem;
          line-height: 1;
          font-weight: 100;
        }
      }
    }
  }
}

// メインビジュアル img,レイアウト手書き
.main-visual{
  padding-top: 75px;
  position: relative;
  @include sp{
    padding-top: 62px;
  }
  .visual{
    img:first-of-type{
      height: 500px;
      @include sp{
        display: none;
      }
    }
    img:last-of-type{
      display: none;
      @include sp{
        display: block;
        height: 312px;
      }
    }
  }
  .main-text{
    position: absolute;
    top: calc(50% + 37.5px);
    left: 50%;
    transform:translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    @include sp{
      top: calc(50% +31px);
    }
    img{
      width: 317px;
      height: 111px;
      margin-bottom: 40px;
      align-self: center;
    }
    h1:first-of-type{
      padding-bottom: 1rem;
      @include sp{
        padding-bottom: 0.5rem;
      }
    }
  }
}

// まずは２０日間で、〜
#mazu20{
  background: $orange;
  height: 100%;
  color: white;
  h3{
    padding-top: 30px;
    line-height: 1.75;
    @include sp{
      padding-top: 15px;
    }
  }
  // 受講料金は実質０円です
  .yen{
    background: white;
    width: 463px;
    margin: 0 auto 47px;
    border-radius: 5px;
    @include tab{
      width: 380px;
      margin: 0 auto 12px;
    }
    @include sp{
      margin: 0 auto 27px;
    }

    p{
      color: hsl(0,100,40);
      font-size: 1rem;
      font-weight: 900;
      text-align: center;
      @include tab{
        font-size: 0.875rem;
      }
    }
  }
  // お問い合わせ＆請求はこちら
  .connect{
    height: 104px;
    max-width: 1028px;
    display: block;
    background: $btnColor;
    margin: 0 auto 67px;
    border-radius:104px;
    &:hover{
      background:$btnHoverColor;
    }
    @include tab{
      height: 78px;
      margin: 0 80px 29px;
    }
    @include sp{
      height: 94px;
      margin: 0 20px 26px;
    }
    h1{
      line-height: 104px;
      @include tab{
        line-height: 78px;
        font-size: 1.125rem;
      }
      @include sp{
        padding-top: 15px;
        line-height: 1.75;
      }
      br{
        display: none;
        @include sp{
          display: block;
        }
      }
    }
  }
  .mazu20-day{
    h2{
      padding-bottom: 32px;
      @include tab{
        font-size: 1rem;
        letter-spacing: 0;
        padding-bottom: 29px;
      }
      @include sp{
        font-size: 0.9rem;;
      }
      br{
        display: none;
        @include sp{
          display: block;
        }
      }
    }
  }
}

// エンジニアとして本当の自由を手に入れるためには？
#engineer{
  position: relative;
  img{
    height: 587px;
    @include sp{
      object-fit:contain;
      object-position:bottom;
      height: 656px;
    }
  }
  .keyd-wrapper{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 20px;
    padding-left: 20px;
    @include sp{
      padding-right: 2.5%;
      padding-left: 2.5%;
    }
  //   .keyd-title{
  //     max-width: 860px;
  //     width: 100%;
  //     height: 100px;
  //     margin-top: 40px;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     position: relative;
  //     @include sp{
  //       height: 120px;
  //     }
      h1{
        @include sp{
          line-height: 2.25;
        }
       br{
         display: none;
         @include sp{
           display: block;
         }
       }
  //     }
    }
  }
  .engineer-text{
    position:absolute;
    top:140px;
    left:0;
    width: 100%;
    .big-share{
      .enter{
        display: none;
        @include sp{
          display: block;
        }
      }
      // 「稼ぐ力」
      .line{
        font-weight: 900;
        position: relative;
        z-index:1;
        &::before{
          content:'';
          position: absolute;
          bottom:4px;
          left:0;
          height: 6px;
          width: 100%;
          background: $orange;
          z-index: -1;
        }
      }
    }
    p:first-of-type{
      padding: 40px 0 24px;
    }
    p:nth-of-type(2){
      padding-bottom: 0;
      @include sp{
        padding-bottom: 24px;
      }
    }
  }
}

// ノマドエンジニア育成講座iSaraとは
#nomado{
  background: $skin;
  position: relative;
  padding: 0 20px;
  .about-circle{
    position: absolute;
    top:0;
    left:50%;
    transform:translate(-50%,-50%);
    width: 80px;
    height: 80px;
    background: $orange;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    @include sp{
      width: 60px;
      height: 60px;
    }
    p{
      color:white;
      @include sp{
        font-size: 0.85rem;
        letter-spacing: 1px;
      }
    }
  }
  .wrapper{
    display: flex;
    flex-direction: column;
    .keyd-title{
      align-self: center;
      height: 140px;
      margin-top: 80px;
      margin-bottom: 40px;
      @include sp{
        height: 130px;
        margin-top: 60px;
        margin-bottom: 15px;
      }
      h1{
        line-height: 1.33;
      }
    }
    h3{
      padding-bottom: 30px;
      @include sp{
        line-height: 1.5;
      }
      br{
        display: none;
        @include sp{
          display: block;
        }
      }
    }
    // 稼げるエンジニアに必要な５つのスキルとは？
    .need-skill{
      height: 254px;
      border:2px solid $orange;
      border-radius:5px;
      background: white;
      margin-bottom: 70px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      @include tab{
        height: auto;
      }
      h3{
        padding: 32px 0 10px;
        @include sp{
          padding: 12px 0 10px;
        }
        br{
          display: none;
          @include sp{
            display: block;
          }
        }
      }
      .skills{
        padding: 0 32px 32px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @include sp{
          padding: 0 12px 12px;
        }
        .skill{
          display: flex;
          flex-direction: column;
          justify-content: end;
          align-items: center;
          height: auto;
          p{
            font-family: 'Klee One', cursive;
            font-size: 0.75rem;
            text-align: center;
            padding: 10px 10px 20px;
            letter-spacing: 1.6px;
            @include sp{
              font-size: 0.625rem;
              padding: 10px 5px 15px;
            }
          }
          img{
            padding-top: 10px;
            @include sp{
              padding-top: 5px;
              height: 35px;
            }
          }
        }
        .skill + .skill{
          margin-left: 6px;
        }
      }
    }
  }  
}

// iSaraで「基本的なプログラミングスキル」は教えません
#basic{
  position: relative;
  img:first-of-type{
    height: 442px;
    @include tab{
      height: 808px;
    }
    @include sp{
      display: none;
    }
  }
  img:last-of-type{
    display: none;
    @include sp{
      display: block;
      height: 610px;
    }
  }
  .basic-contents{
    width: 100vw;
    padding-top: 60px;
    position: absolute;
    top: 0;
    left: 0;
    @include sp{
      padding-top: 50px;
    }
    .basic-text{
      h1{
        color: white;
        padding-bottom: 20px;
        br{
          display: none;
          @include sp{
            display: block;
          }
        }
      }
      h3{
        color:white;
        font-weight: 900;
        @include sp{
          font-size: 0.75rem;
          line-height: 1.5;
        }
      }
      h3:first-of-type{
        padding-bottom: 10px;
      }
      h3:last-of-type{
        padding-bottom: 20px;
        span{
          color:$orange;
        }
        br{
          display: none;
          @include sp{
            display: block;
          }
        }
      }
    }
    .wrapper{
      display: flex;
      justify-content: center;
      @include tab{
        flex-direction: column;
        align-items: center;
        width: 62.5%;
      }
      @include sp{
        width: calc(100vw - 60px);
      }
      .step{
        background: white;
        border-radius: 8px;
        width: 100%;
        @include tab{
          width: 60%;
        }
        @include sp{
          width: 100%;
        }
        h3{
          color: white;
          background: $orange;
          border-radius: 5px;
          margin: 30px;
          @include sp{
            margin: 15px 50px;
          }
        }
        p:first-of-type{
          padding-bottom: 15px;
          font-size: 0.875rem;
          @include tab{
            font-size: 0.75rem;
          }
          @include sp{
            padding-bottom: 5px;
          }
        }
        p:last-of-type{
          padding-bottom: 30px;
          @include tab{
            font-size: 0.875rem;
            letter-spacing: 0.1rem;
          }
          @include sp{
            padding-bottom: 15px;
            font-size: 0.75rem;
          }
        }

      }
      .step + .step{
        margin-left: 17px;
        @include tab{
          margin-left: 0;
          margin-top: 20px;
        }
        @include sp{
          margin-top: 15px;
        }
      }
    }
  }
}

// スキルアップしてもフリーランスエンジニアとして〜
#if-skillup{
  background: $blue;
  h3{
    padding: 40px 0;
    color: white;
    line-height: 1.5;
    margin-bottom: 0;
    @include sp{
      font-size:0.75rem;
      padding: 20px 0;
    }
    span{
      color:$orange;
    }
    br:first-of-type{
      display: none;
      @include sp{
        display: block;
      }
    }
  }
}

// isaraで学べること
#learn{
  line-height: 2;
  h1{
    padding: 60px 0 35px;
    @include sp{
      padding: 40px 0 35px;
    }
    span{
      font-size: 0.875rem;
    } 
  }
  .big-share{
    padding-bottom: 40px;
    @include sp{
      padding-bottom: 10px;
    }
    br{
      display: none;
      @include sp{
        display: block;
      }
    }
  }
  .learn-items{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0 5px;
    @include sp{
      margin: 0 55px;
      justify-content: space-between;
    }
    img{
      width: 180px;
      margin: 0 21px;
      @include tab{
        margin: 20px;
        max-width: 180px;
        width: calc((100% / 4) - 40px);
      }
      @include sp{
        max-width: 120px;
        margin: 5px;
        width: calc((100% / 4) - 10px);
      }
    }
  }
  p:last-of-type{
    padding: 25px 0 50px;
    font-weight: 900;
    @include tab{
      font-size: 0.875rem;
      letter-spacing: 1.75px;
      padding: 40px 0 50px;
    }
    @include sp{
      padding: 15px 0 30px;
      font-size: 0.75rem;
    }
  }
}

// iSaraの３つのメリット
#merit{
  background: $skin;
  .wrapper{
    display: flex;
    flex-direction: column;
    @include tab{
      padding: 0 70px;
    }
    @include sp{
      padding: 0 2.5%;
    }
    .keyd-title{
      flex-direction: column;
      align-self: center;
      margin-bottom: 40px;
      @include sp{
        margin: 30px 0 40px;
        width: 100%;
      }
      h3{
        padding-top: 28px;
        br{
          display: none;
          @include sp{
            display: block;
          }
        }
        @include sp{
          padding-top: 25px;
        }
      }
      h1{
        padding-bottom: 28px;
        line-height: 2;
        @include sp{
          padding-bottom: 10px;
        }
      }
    }
    .merit-items{
      display: flex;
      margin-bottom: 40px;
      @include tab{
        flex-direction: column;
        align-items: center;
      }
      @include sp{
        margin-bottom: 16px;
      }
      .merit-item{
        width: 390px;
        padding: 0 15px 15px;
        @include tab{
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          @include tab{
            padding: 0 3px 15px;
          }
        }
        img{
          width: 360px;
          height: 180px;
          object-fit: cover;
          @include tab{
            width: 300px;
            height: 180px;
            margin-bottom: 12px;
          }
          @include sp{
            width: 100%;
            height: 120px;
            margin-bottom: 10px;
          }
        }
        h3{
          color: $orange;
          @include tab{
            padding-bottom: 13px;
          }
          @include sp{
            padding-bottom: 8px;
          }
        }
        p{
          font-family: 'Klee One', cursive;
          @include tab{
            font-size: 1rem;
            width: 100%;
            text-align: left;
          }
          @include sp{
            font-size: 0.875rem;
            padding: 0 20px;
          }
        }
      }
    }
    .after-support{
      background: white;
      border:2px solid $orange;
      border-radius: 5px;
      h1{
        color:$orange;
        line-height: 2;
        padding: 42px 0 10px;
        @include sp{
          padding: 12px 0 10px;
        }
      }
      h3{
        line-height: 1;
        padding-bottom: 10px;
        @include sp{
          line-height: 1.5;
        }
        br{
          display: none;
          @include sp{
            display: block;
          }
        }
        
      }
      p{
        padding-bottom: 52px;
        font-size: 0.9rem;
        letter-spacing: 1px;
        @include sp{
          font-size: 0.625rem;
          padding: 0 12px 22px;
        }
        br:last-of-type{
          @include sp{
            display: none;
          }
        }
      }
    }
  }
  .merit-out{
    padding: 40px 0 50px;
    font-family: 'Klee One', cursive;
    br:first-of-type{
      display: none;
      @include sp{
        display: block;
      }
    }
    br:last-of-type{
      @include sp{
        display: none;
      }
    }
    @include tab{
      padding: 40px 50px 40px;
      font-size: 0.75rem;
    }
    @include sp{
      padding: 15px 0 40px;
    }
  }
}

// 創業メンバー imgをbgiにすべきだが、未修正
#member{
  position: relative;
  .wrapper{
    max-width: 1200px;
    color:white;
    @include tab{
      padding: 0 35px;
    }
    @include sp{
      padding: 0 10px;
    }
    h1{
      padding: 83px 0 32px;
      @include tab{
        padding: 92px 0 33px;
      }
      @include sp{
        padding: 62px 0 32px;
      }
    }
    p{
      padding-bottom: 10px;
      @include tab{
        font-size: 0.875rem;
        letter-spacig:2px;
      }
      @include sp{
        font-size: 0.75rem;
        letter-spacing:2px;
      }
      br{
        display: none;
        @include sp{
          display: block;
        }
      }
    }
    .members{
      padding-bottom: 40px;
      display: flex;
      @include tab{
        flex-direction: column;
      }
      @include sp{
        padding-bottom: 20px;
      }
      .member{
        width: 100%;
        img{
          border-radius: 50%;
          display: block;
          margin: 35px auto -35px;
          @include sp{
            width: 120px;
          }
        }
        p{
          padding-left: 43px;
          padding-right: 43px;
          font-size: 1.05rem;
          @include tab{
            font-size: 0.875rem;
            letter-spacing: 1.5px;
          }
          @include sp{
            font-size: 0.75rem;
            padding-left: 13px;
            padding-right: 13px;
          }
        }
        p:first-of-type{
          padding: 43px 0 10px;
        }
        p:nth-of-type(2){
          padding-bottom: 10px;
        }
        p:last-of-type{
          padding-bottom: 53px;
          @include sp{
            padding-bottom: 23px;
          }
        }
        p:nth-of-type(n + 3){
          text-align: left;
        }
        .member-text{
          border:3px solid white;
          font-family: 'Klee One', cursive;
          text-align: center;
          margin: 0 15px;
          @include sp{
            margin: 0;
          }
        }
      }
      .member:last-of-type{
        p:last-of-type{
          padding-top:30px;
          @include sp{
            padding-top: 10px;
          }
        }
      }
    }
  }
  .bgi:first-of-type{
    position: absolute;
    top: 0;
    left: 0;
    z-index:-1;
    display: block;
    height: 100%;
    @include tab{
      height: 100%;
    }
    @include sp{
      display: none;
    }
  }
  .bgi:last-of-type{
    display: none;
    @include sp{
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      height: 100%;
    }
  }
}

// Q&A
#qa{
  background: $orange;
  padding: 40px 2.4%;
  position: relative;
  &::before{
    content:'';
    position: absolute;
    bottom: -50px;
    left: calc(50% - 25px);
    width: 50px;
    height: 50px;
    border-top:25px solid $orange;
    border-left:25px solid transparent;
    border-right: 25px solid transparent;
    @include sp{
      bottom: -30px;
      left: calc(50% - 15px);
      width: 30px;
      height: 30px;
      border-top:15px solid $orange;
      border-left:15px solid transparent;
      border-right: 15px solid transparent;
    }
  }
  @include sp{
    padding: 20px 2.4%;
  }
  .circle{
    background: white;
    color:$orange;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    @include sp{
      width: 60px;
      height: 60px;
      margin-bottom: 10px;
    }
    p{
      font-size: 0.875rem;
      font-family: 'Klee One', cursive;
      @include tab{
        font-size: 1.25rem;
      }
      @include sp{
        font-size: 0.875rem;
      }
    }
  }
  .keyd-title{
    margin: 0 auto;
    color: white;
    height: 110px;
    &::before,&::after{
      border-color: white;
    }
    @include sp{
      height: 100px;
    }
    h1{ 
      line-height: 1.5;
      @include tab{
        font-size: 1.125rem;
        line-height: 2;
      }
      @include sp{
        font-size: 0.875rem;
        line-height: 2.75;
      }
    }
  }
}

// 実現可能です
#possible{
  h1{
    padding: 40px 0 10px;
    line-height: 1.5;
    @include sp{
      padding-top: 20px;
    }
  }
  h4{
    padding-bottom: 32px;
  }
  .message{
    font-size: 0.875rem;
    font-family: 'Klee One', cursive;
    padding-bottom: 10px;
    @include tab{
      font-size: 0.75rem;
    }
    br{
      display: none;
      @include sp{
        display: block;
      }
    }
  }
  .wrapper{
    padding: 0 20px 40px;
    @include sp{
      padding:0 10px 20px;
    }
    .president{
      display: flex;
      width: 780px;
      margin: 0 auto;
      color:rgb(140,140,140);
      @include tab{
        width: 100%;
      }
      .president-left{
        padding: 20px 30px 20px 0;
        @include tab{
          width: 33%;
          padding: 20px 15px 20px 0;
        }
        img{
          width: 244px;
          border:3px solid $orange;
          @include tab{
            width: 100%;
          }
        }
      }
      .president-right{
        font-family: 'Klee One', cursive;
        width: 67%;
        .president-text{
          padding-top: 35px;
          font-size: 1.125rem;
          @include tab{
            font-size: 1.25rem;
            padding-left: 15px;
          }
          @include sp{
            padding-top: 15px;
            padding-left: 0;
          }
        }
        .president-name{
          padding-top: 10px;
          text-decoration: underline;
          @include tab{
            padding-left: 15px;
          }
          @include sp{
            padding-bottom: 30px;
          }
        }
      }
    }
  }
}

// iSaraで学べる内容
#isara-contents{
  position: relative;
  .isara-content{
    padding-top: 60px;
    @include sp{
      padding-top: 40px;
    }
    h1{
      line-height: 1.5;
      padding-bottom: 10px;
      color: white;
    }
    h4{
      padding-bottom: 10px;
      color:white;
      letter-spacing: 2px;
    }
    .learn-contents{
      width: 801px;
      display: flex;
      margin: 0 auto;
      padding-bottom: 40px;
      @include tab{
        flex-direction: column;
        padding: 30px 8.5vw 72px;
        width: 780px;
      }
      @include sp{
        padding: 0 12px 40px;
        width: 100%;
      }
      .learn-content{
        ul{
          background: white;
          margin: 42px 15px 42px;
          width: 371px;
          border-radius: 5px;
          border: 2px solid $blue;
          @include tab{
            width: calc(750px - 17vw);
            margin: 15px 15px 0;
          }
          @include sp{
            width: 100%;
            margin: 20px 0 0;
          }
          h3{
            color:white;
            background: $blue;
            line-height: 62px;
          }
          li{
            line-height: 46px;
            text-align: center;
            font-weight: 900;
            @include tab{
              font-size: 0.875rem;
              line-height: 43px;
            }
            @include sp{
              font-size: 0.75rem;
              letter-spacing: 2.5px;
              line-height: 40px;
            }
          }
          li + li{
            border-top: 1px dotted rgb(220,220,220);
          }
        }
      }
    } 
  }
  .bgi:first-of-type{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    @include sp{
      display: none;
    }
  }
  .bgi:last-of-type{
    display: none;
    @include sp{
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      height: 100%;
      display: block;
    }
  }
}
// 講座費用２５８、００円以上稼げるまで
#course-cost{
  background: $blue;
  padding: 40px 0;
  @include sp{
    padding: 20px 0;
  }
  h3{
    color:white;
    margin: 0;
    line-height: 1.5;
  }
}

// 受講の流れ
#flow{
  padding-top: 60px;
  @include tab{
    padding-top: 40px;
  }
  h1{
    padding-bottom: 50px;
    @include sp{
      padding-bottom: 10px;
    }
  }
  .flow-img{
    display: block;
    margin:0 auto 40px;
    max-width: 1080px;
    width: 100%;
    padding: 0 40px;
    @include sp{
      display: none;
    }
  }
  .flow-items{
    padding-bottom: 40px;
    @include tab{
      padding-bottom: 20px;
    }
    .wrapper{
      // outline: 2px solid red;
      @include tab{
        padding: 0 60px;
      }
      @include sp{
        padding: 20px 15px 40px;
      }
      .flow-item{
        // outline: 2px solid blue;
        background: $skin;
        padding: 10px 35px;
        border-radius:5px;
        display: flex;
        @include sp{
          flex-direction: column;
          padding: 0 15px;
          margin-bottom: 5px;
        }
        .flow-item-title{
          // outline: 2px solid green;
          width: 200px;
          height: 208px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          align-self: center;
          @include sp{
            flex-direction: row;
            justify-content: start;
            width: 100%;
            height: 55px;
          }
          img{
            margin-bottom: 20px;
            display: block;
            // outline: 1px solid brown;
            @include sp{
              width: 35px;
              height: 35px;
              margin-bottom: 0;
              margin-right: 20px;
            }
          }
          h3{
            // outline: 1px solid orange;
            @include sp{
              margin-bottom: 0;
              width: 100%;
              text-align: left;
            }
            br{
              @include sp{
                display: none;
              }
            }
            .arrow{
              display: none;
              @include sp{
                display: block;
                float: right;
                clear:right;
              }
            }
          }
        }
        .flow-item-content{
          // outline: 2px solid plum;
          width: calc(100% - 200px);
          padding-top: 30px;
          @include sp{
            display: none;
            width: 100%;
            padding-top: 15px;
          }
          h4{
            padding-bottom: 20px;
            letter-spacing: 2px;
            line-height: 1.5;
            @include sp{
              padding-bottom: 10px;
              line-height: 1.2;
            }
          }
          p{
            padding-bottom: 20px;
            font-size: 0.875rem;
            font-family: 'Klee One', cursive;
            @include tab{
              font-size: 0.75rem;
            }
            @include sp{
              padding-bottom: 10px;
            }
          }
        }
      }   
      .flow-line-odd{
        width: 768px;
        margin: 0 auto;
        @include tab{
          width: 100%;
          padding: 0 130px;
        }
        @include sp{
          display: none;
        }
        .flow-box1{
          width: 100%;
          height: 31px;
          border-left: 2px solid $orange;
          border-bottom: 2px solid $orange;
          margin: 0 auto;
          @include tab{
            height: 22.5px;
          }
        }
        .flow-box2{
          width: 100%;
          height: 31px;
          border-right: 2px solid $orange;
          margin: 0 auto;
          @include tab{
            height: 22.5px;
          }
        }
      }
      .flow-line-even{
        margin: 0 auto;
        width: 768px;
        @include tab{
          width: 100%;
          padding: 0 130px;
        }
        @include sp{
          display: none;
        }
        .flow-box1{
          width: 100%;
          height: 31px;
          border-right: 2px solid $orange;
          border-bottom: 2px solid $orange;
          @include tab{
            height: 22.5px;
          }
        }
        .flow-box2{
          width: 100%;
          height: 31px;
          border-left: 2px solid $orange;
          @include tab{
            height: 22.5px;
          }
        }
      } 
    }
  }
}

// なぜバンコクなのか
#bangkok{
  position: relative;
  padding: 100px 100px 90px;
  @include tab{
    padding: 60px 60px 50px;
  }
  @include sp{
    padding: 40px 35px 30px;
  }
  .wrapper{
    color:white;
    h2{
      padding-bottom: 20px;
      text-align: left;
      font-size: 1.5rem;
      letter-spacing: 3px;
      @include sp{
        text-align: center;
      }
    }
    p{
      padding-bottom: 20px;
      font-size: 0.875rem;
      font-family: 'Klee One', cursive;
      @include tab{
        font-size: 0.75rem;
      }
    }
    h4{ 
      padding-bottom: 10px;
      letter-spacing: 2px;
      line-height: 1.5;
    }
    h3{
      padding-top: 10px;
      letter-spacing: 2px;
      text-align: left;
    }
  }
  .bgi{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
  }
  .bgi:first-of-type{
    @include sp{
      display: none;
    }
  }
  .bgi:last-of-type{
    display: none;
    @include sp{
      display: block;
    }
  }
}

// iSara受講生への参加特典
#benefit{
  background: $orange;
  padding: 60px 40px 40px;
  @include sp{
    padding: 20px 15px;
  }
  .benefit-title{
    padding-bottom: 60px;
    line-height: 1.75;
    @include tab{
      padding-bottom: 40px;
    }
    @include sp{
      padding-bottom: 20px;
    }
  }
  h4{
    text-align: center;
    padding-bottom: 128px;
    line-height: 1.75;
    @include sp{
      padding-bottom: 78px;
    }
    span{
      color: white;
    }
    br{
      display: none;
      @include sp{
        display: block;
      }
    }
  }
  .wrapper{
    border: 2px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 88px;
    height: 360px;
    position: relative;
    @include tab{
      flex-direction: column;
      height: auto;
      padding: 42px 0;
    }
    @include sp{
      padding: 47px 32px;
    }
    h1{
      background: $orange;
      display: inline-block;
      line-height: 1.5;
      width: 45vw;
      position: absolute;
      top: 0;
      left: 50%;
      transform:translate(-50%,-75%);
      br{
        display: none;
        @include sp{
          display: block;
        }
      }
      @include sp{
        transform: translate(-50%,-50%);
        width: 250px;
      }
    }
    .benefit-item{
      width: 250px;
      height: 250px;
      border-radius: 50%;
      background: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include tab{
        margin: 10px 0 16px;
      }
      @include sp{
        border-radius: 0;
        background: none;
        flex-direction: row;
        width: 100%;
        height: 100%;
        justify-content: space-between;
        margin: 0;
      }
      h2{
        color: $orange;
        width: 220px;
        padding-bottom: 10px;
        font-size: 1.5rem;
        line-height: 1.5;
        font-weight: 100;
        @include sp{
          background: white;
          font-size: 0.875rem;
          width: 60px;
          height: 60px;
          border-radius:50%;
          margin: 0 auto;
          line-height: 60px;
        }
      }
      p{
        width: 220px;
        font-size: 0.875rem;
        text-align: center;
        font-weight: 900;
        line-height: 1.75;
        letter-spacing: 1.5px;
        @include sp{
          display: none;
        }
      }
      .benefit-item-sp{
        display: none;
        @include sp{
          display: block;
          font-size: 0.75rem;
          color: white;
          font-weight: normal;
          width: 70%;
          text-align: left;
          padding: 12px 0;
        }
      }
    }
    .benefit-item + .benefit-item{
      margin-top: 15px;
    }
  }
}

// iSaraはボランティアではありません
#not-volunteer{
  position: relative;
  .volunteer-contents{
    color: white;
    padding: 60px 60px 40px;
    @include sp{
      padding: 40px 25px 20px;
    }
    .volunteer-title{
      padding-bottom: 20px;
      line-height: 1.5;
      br{
        display: none;
        @include sp{
          display: block;
        }
      }
    }
    h3{
      line-height: 1.75;
      padding-bottom: 40px;
      .spbr{
        display: none;
        @include sp{
          display: block;
        }
      }
      .tabbr{
        @include sp{
          display: none;
        }
      }
      @include tab{
        line-height: 1.5;
      }
      @include sp{
        font-size: 0.75rem;
      }
    }
    .keyd-title{
      margin: 0 auto 20px;
      height: 70px;
      @include sp{
        height: 100px;
      }
      &::before{
        border-color:white;
      }
      &::after{
        border-color:white;
      }
      h1{
        line-height: 2.25;
        br{
          display: none;
          @include sp{
            display: block;
          }
        }
      }
    }
  }  
  .bgi{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
  }
  .bgi:first-of-type{
    @include sp{
      display: none;
    }
  }
  .bgi:last-of-type{
    display: none;
    @include sp{
      display: block;
    }
  }
} 

// 創業者からのメッセージ
#message{
  padding: 60px 0 80px;
  @include tab{
    padding: 60px 25px 80px;
  }
  @include sp{
    padding: 40px 10px 35px;
  }
  h1{
    padding-bottom: 35px;
    line-height: 2;
  }
  h3{
    padding-bottom: 30px;
    line-height: 1.5;
    margin: 0;
    br{
      display: none;
      @include sp{
        display: block;
      }
    }
    @include tab{
      padding-bottom: 60px;
    }
    @include sp{
      padding-bottom: 20px;
    }
  }
  .message-contents{
    display: flex;
    width: 890px;
    margin: 0 auto;
    @include tab{
      width: 100%;
      flex-direction: column;
      margin: 0;
    }
    img{
      width: 192px;
      height: 144px;
      margin: 0 15px;
      @include tab{
        margin: 0 0 20px;
        width: 100%;
        height: auto;
      }
      @include sp{
        margin: 0 5px 5px;
        width: calc(100% - 10px);
      }
    }
    .message-text{
      margin: 0 15px;
      font-size: 0.875rem;
      font-family: 'Klee One', cursive;
      line-height: 1.5;
      letter-spacing: 2px;
      @include tab{
        margin: 0;
        padding: 20px 0;
      }
      @include sp{
        padding: 5px 0;
      }
      p{
        padding-bottom: 10px;
      }
      ul{
        padding: 22px 0 33px;
      }
    }
  }
}

// 資料請求フォーム
#form{
  background: $orange;
  padding: 60px 0 40px;
  @include sp{
    padding: 40px 15px 20px;
  }
  h1{
    padding-bottom: 20px;
    line-height: 1.75;
  }
  h4{
    text-align: center;
    padding-bottom: 32px;
  }
  form{
    width: 60vw;
    margin: 0 auto;
    display: block;
    @include tab{
      width: 70vw;
    }
    @include sp{
      width: 100%;
    }
    input{
      width: 100%;
      margin-bottom: 25px;
      height: 55px;
      border-radius: 5px;
      font-family: 'Klee One', cursive;
    }
    textarea{
      width: 100%;
      margin: 23px 0 41px;
      height: 100px;
      border-radius: 5px;
      font-family: 'Klee One', cursive;
    }
    button{
      width: 100%;
      height: 55px;
      border:none;
      border-radius: 27.5px;
      background: $btnColor;
      color:white;
      font-size: 1.25rem;
      font-weight: 900;
      margin-bottom: 30px;
    }  
  }
}

// よくある質問
#question{
  padding: 60px 0;
  @include tab{
    padding: 60px;
  }
  @include sp{
    padding: 40px 15px;
  }
  h1{
    padding-bottom: 40px;
    line-height: 1.5;
    @include sp{
      padding-bottom: 20px;
    }
  }
  .wrapper{
    width: 76vw;
    @include tab{
      width: 100%;
    }
    .question-item{
      margin-bottom: 5px;
      .question{
        height: 64px;
        text-align: left;
        border:2px solid rgb(220,220,220);
        border-radius:5px;
        line-height: 60px;
        margin-bottom: 0;
        padding: 0 21px;
        position: relative;
        &:hover{
          text-decoration: underline;
          cursor: pointer;
        }
        @include tab{
          height: 59px;
          line-height: 55px;
        }
        @include sp{
          height: 38px;
          line-height: 34px;
        }
        .bi{
          color:$blue;
        }
        .arrow{
          border-color:rgb(180,180,180);
          position: absolute;
          top: 50%;
          right: 20px;
          transform:translate(-50%,-50%)rotate(-45deg);
          
        }
      }
      .answer{
        text-align: left;
        padding: 20px 20px 30px;
        line-height: 1.75;
        letter-spacing: 2px;
        border-bottom: 1px solid $gray;
        border-left: 1px dotted $gray;
        border-right: 1px dotted $gray;
        display: none;
      }
    }
  }
}

// footer
footer{
  background: $gray;
  padding: 40px 0 20px;
  @include sp{
    padding: 20px 0 0;
  }
  p{
    text-align: center;
    font-size: 0.7rem;
    font-family: 'Klee One', cursive;
    letter-spacing: 1px;
    line-height: 1.5;
  }
}

// topへ戻るボタン
.to-top{
  display: block;
  background: $gray;
  width: 71px;
  height: 72px;
  position: fixed;
  z-index: 10;
  right: 50px;
  bottom: 90px;
  display: flex;
  justify-content: center;
  @include sp{
    width: 46px;
    height: 52px;
    right: 10px;
  bottom: 20px;
  }
  &:hover{
    cursor: pointer;
  }
  .arrow{
    display: block;
    height: 20px;
    width: 20px;
    border-left: 6px solid black;
    border-bottom: 6px solid black;
    transform:rotate(135deg);
    margin-top: 30px;
    @include sp{
      width: 10px;
      height: 10px;
      border-left: 3px solid black;
      border-bottom: 3px solid black;
      margin-top: 23px;

    }
  }
}